.title{
  margin-left: 10px;
  font-size: 24px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

}
.buttonDel{
  margin-left: 10px;
  font-size: 9px;
  padding: 5px;
}
