<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="email">Email: </label>
    <input id="email" type="text" formControlName="email" placeholder="enter email" class="form-control" />
    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error">
      <div *ngIf="email.errors?.['required']">Name is required.</div>
      <div *ngIf="email.errors?.['email']">Name must be email.</div>
      <div *ngIf="email.errors?.['pattern']">Name must be ****@****.**.</div>
    </div>
  </div>

  <div>
    <label for="password">Password:</label>
    <input id="password" type="password" formControlName="password" placeholder="enter password" />
    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error">
      <div *ngIf="password.errors?.['required']">Name is required.</div>
      <div *ngIf="password.errors?.['minlength']">Name must be at least 6 characters long.</div>
    </div>
  </div>

  <div>
    <input id="rememberMe" type="checkbox" formControlName="rememberMe" /> <label for="rememberMe">Remember Me</label>
  </div>

  <button
    type="submit"
    [disabled]="loginForm.invalid"
    [ngClass]="{
      buttonError: loginForm.invalid,
      buttonSuccess: loginForm.valid,
      buttonUntouched: loginForm.untouched
    }"
  >
    submit
  </button>
</form>
