<p>navigation works!</p>
<span>
  <a routerLink="/" class="button" routerLinkActive="activebutton" [routerLinkActiveOptions]="{ exact: true }">home</a>
  <a routerLink="/login" class="button" routerLinkActive="activebutton"> login </a>
  <a routerLink="/todos" class="button" routerLinkActive="activebutton"> todos </a>
  <a routerLink="/users" class="button" routerLinkActive="activebutton"> users </a>
  <a routerLink="/profile" class="button" routerLinkActive="activebutton"> profile </a>
</span>
